@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-orange-gradient {
  transition: .5s;
  background: 
  linear-gradient(90deg, var(--c1, #f45106),
  var(--c2, #fa8907) 51%, var(--c1, #f45106)) 
  var(--x, 0)/ 200%;
}

.bg-orange-gradient-pizzaRoller{
  background: rgba(247,245,242, 0.2);
  background: linear-gradient(90deg, rgba(247,245,242,1) 0%, rgba(250,137,7,1) 30%, rgba(250,137,7,1) 50%, rgba(250,137,7,1) 70%, rgba(247,245,242,1) 100%);
}

.menu-border{
  background: transparent;
  border-radius: 30% 70% 62% 38% / 30% 44% 56% 70% ;
}
.menu-border:hover {
  background: #fa8907;
}

.menu-border:hover .text-hover{
  color: white;
}

.text-gradient {
  background: 
  linear-gradient(90deg, var(--c1, #f45106),
  var(--c2, #fa8907) 51%, var(--c1, #f45106)) 
  var(--x, 0)/ 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.links {
  transition: all .4s;
  color: #060606;
  cursor: pointer;
}

.links:hover {
  transition: all .4s;
  background: 
  linear-gradient(90deg, var(--c1, #f45106),
  var(--c2, #fa8907) 51%, var(--c1, #f45106)) 
  var(--x, 0)/ 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button:hover{
  --x: 100%;
  -webkit-box-shadow: 8px 8px 20px -14px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 20px -14px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 20px -14px rgba(66, 68, 90, 1);
}

.button:active {
  transition: .5s;
  -webkit-box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
-moz-box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow{
  box-shadow:
  0px 0.6px 3.6px -6px rgba(0, 0, 0, 0.053),
  0px 1.4px 8.6px -6px rgba(0, 0, 0, 0.077),
  0px 2.6px 16.2px -6px rgba(0, 0, 0, 0.095),
  0px 4.7px 28.8px -6px rgba(0, 0, 0, 0.113),
  0px 8.8px 53.9px -6px rgba(0, 0, 0, 0.137),
  0px 21px 129px -6px rgba(0, 0, 0, 0.19)
;
}

.text-justify-center{
  text-align: justify;
  text-align-last: center;
}

.rotate {
  animation: rotate-keyframes 2.05s;
}
.nextRotate{
  animation: nextRotate-keyframes 2.05s;
}

@keyframes rotate-keyframes {
  from {
   transform: rotate(0deg);
  }
 
  to {
   transform: rotate(1440deg);
  }
 }

 @keyframes nextRotate-keyframes {
  from {
   transform: rotate(0deg);
  }
 
  to {
   transform: rotate(1440deg);
  }
 }